html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
    font-family: 'Karla', sans-serif;
    height: 650px;
}

.generator-container {
    background-color: #1F2937;
    position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;
}

.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    letter-spacing: -0.025em;
    font-style: normal;
}

#password-title1 {
    color: white;
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;
    letter-spacing: -2.5%;   
}

#password-title2 {
    color: #4ADF86;
}

#tagline {
    color: #D5D4D8;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;
}

.btn {
    background-color: #10B981;
    position: absolute;
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;
    color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.btn:hover {
    cursor: pointer;
}

.line {
    border: 1px solid #2F3E53;
    width: 446px;
    height: 0px;
    margin: 0 auto;
    position: absolute;
    left: 52px;
    top: 361px;
}

.result {
    background: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    color:#10B981;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

#result2 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;
}

#result1 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;
}